body{
    background-color: #41464b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box {
    width: 30.4em;
    height: 30.4em;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.review {
    /* ... */
    grid-column: span 2; /* Ocupa dos columnas */
}

.comment {
    display: block;
    padding-top: 15px;
    width: 50%;
    align-items: center;
    text-align: center;
}

.form-reseña {
    margin-top: 20px;
}

.rating span {
    font-size: 24px;
    color: gold;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header-container {
    position: relative;
  }
  
.header-titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#ccc ;
}

section {
    background-color: #41464b;
}

.galeria img {
    width: 100%; /* Cada imagen ocupará el 25% del ancho del contenedor */
    height: 100%; /* Permite que la altura se ajuste automáticamente al conservar la proporción */
    object-fit: cover; /* Hace que la imagen llene todo el contenedor, recortando si es necesario */
}

form {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media (min-width: 400px) and (max-width: 600px) {
    form {
        padding: 5px;
    }
    button {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    form {
        padding: 10px;
    }
    button {
        width: 50%;
    }
}

@media (min-width: 993px) { /* Estilos para pantallas más grandes (PC) */
    form {
        /* Ancho máximo para PC */
        max-width: 800px;
        margin: 0 auto;
    }
}